<div class="container-graph">
  <div class="banner">
    <h1>{{title}}</h1>
  </div>
  <div class="marquee">
    <ul>
      <li>
        <div class="text-container">
          <div class="box"></div>
          <h3>LA LECHUGA ES CARA PORQUE ES VERDE</h3>
        </div>
      </li>
      <li>
        <div class="text-container">
          <div class="box"></div>
          <h3>PAULO LONDRA SACA NUEVO DISCO "EL LEON"</h3>
        </div>
      </li>
      <li>
        <div class="text-container">
          <div class="box"></div>
          <h3>COTI GANA EL BAILANDO</h3>
        </div>
      </li>
      <li>
        <div class="text-container">
          <div class="box"></div>
          <h3>EL CONEJO DE GH SE CASA CON LA PRINCESITA</h3>
        </div>
      </li>

    </ul>
  </div>
</div>
