<div class="graph">
    <div class="banner">
        <h1>
            MESSI HIZO UN GOL EN CONTRA
        </h1>
    </div>
    <div class="separation">
    </div>
    <div class="marquee">
        <li>
            <div class="box"></div>
        </li>
        <li>CONTENIDO SENSIBLE NO APTO PARA MENORES</li>
        <li>
            <div class="box"></div>
        </li>
        <li>MILEI DICE QUE PUEDE HABLAR CON LOS PERROS</li>
        <li>
            <div class="box"></div>
        </li>
        <li>EL PAPA DICE QUE IR AL BAÑO ES PECADO</li>
        <li>
            <div class="box"></div>
        </li>
        <li>LGANTE DICE: "NOS VEMOS, NEMO"</li>
        <li>
            <div class="box"></div>
        </li>
        <li>CONTENIDO SENSIBLE NO APTO PARA MENORES</li>
        <li>
            <div class="box"></div>
        </li>
        <li>MILEI DICE QUE PUEDE HABLAR CON LOS PERROS</li>
        <li>
            <div class="box"></div>
        </li>
        <li>EL PAPA DICE QUE IR AL BAÑO ES PECADO</li>
        <li>
            <div class="box"></div>
        </li>
        <li>LGANTE DICE: "NOS VEMOS, NEMO"</li>
    </div>
</div>