.graph {
    background: linear-gradient(to bottom, #ECA71D, #FF0000);
    width: 100vw;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

h1 {
    animation: zoomInOut 5s infinite alternate;
    /* Configuramos la animación */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        /* Tamaño normal */
    }

    100% {
        transform: scale(1.1);
        /* Tamaño aumentado */
    }
}


.separation {
    height: 10px;
    background-color: red;
}

.marquee {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-top: 13px;
}

.box {
    width: 15px;
    height: 15px;
    background-color: black;
}

.marquee li {
    list-style: none;
    margin-right: 5px;
}

.banner {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: center;
    font-family: Arial, sans-serif;
    letter-spacing: 0.2em;
    font-size: 2em;
    width: 100%;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 100s linear infinite;
    width: max-content;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing: 0.2em;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}